@mixin fontStyle($fontFamily, $fontSize, $fontWeight) {
  font: {
    family: $fontFamily;
    size: $fontSize;
    weight: $fontWeight;
  }
}

@mixin background-opacity($color, $opacity: 0.27) {
  background: $color;
  background: rgba($color, $opacity);
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (max-width: 640px) {
      @content;
    }
  }

  @else if $breakpoint == "medium" {
    @media (max-width: 1024px) {
      @content;
    }
  }

  @else if $breakpoint == "large" {
    @media (min-width: 1025px) {
      @content;
    }
  }
}